/* Inicio screens < 576px */


/* Inicio body */


/* Inicio header */


/* Fin header */


/* Inicio main */

main {
    height: 100vh;
    background-color: #f8f8f7;
}

main #ordersCard {
    height: 80vh;
}

#ordersCard .card-body {
    overflow-y: auto;
}

#ordersCard #ordersList {}

#ordersList li {}

#ordersList li .status {
    color: #1b442f !important;
    background-color: #bdf6cb !important;
}

main #orderCard {
    background-color: #f8f8f7;
    height: 80vh;
    width: 100%;
}

#orderCard .card-header {
    background-color: #f8f8f7;
}

#orderCard .card-body {
    overflow-y: auto;
}

#orderCard .orderDetails {
    /* border: 2px solid black; */
    background-color: #ffffff;
}

.orderDetails .infoTitle {
    font-weight: 600;
}

.infoTitle+p {
    color: gray;
}

.orderDetails .status {
    color: #1b442f !important;
    background-color: #bdf6cb !important;
}

.orderDetails .orderInfo2 {
    border-top: 1px rgba(128, 128, 128, 0.219) solid;
}

#orderCard .orderProducts {
    background-color: #ffffff;
    /* border: 2px solid black; */
}


/* Fin main */


/* Inicio footer */


/* Fin footer */


/* Fin body */


/* Fin screens < 576px */


/* Inicio screens > 768px */

@media only screen and (min-width:768px) {}


/* Fin screens > 1200px */


/* Inicio screens > 1200px */

@media only screen and (min-width:1200px) {
    /* Inicio body */
    /* Inicio header */
    /* Fin header */
    /* Inicio main */
    /* Fin main */
    /* Inicio footer */
    /* Fin footer */
    /* Fin body */
}


/* Fin screens > 1200px */