/* Inicio screens < 576px */


/* Inicio body */

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    overflow-x: hidden;
}


/* Inicio header */

.logo {
    width: 8em;
}


/* Fin header */


/* Inicio main */

main .cards-container {
    height: 100vh;
}


/* Inicio shoppingCartCard */

.cards-container #shoppingCartCard {
    height: 90%;
}

#shoppingCartCard .card-body {
    height: 80%;
    overflow-y: auto;
}


/* Inicio shoppingCartItem */

.shoppingCartItem {}

.shoppingCartItem .artworkImage {
    width: auto;
}

.artworkBody {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.2fr 0.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "artworkDimensions artworkStockAndCartButton" "artworkDate artworkStockAndCartButton" "artworkTitle artworkTitle" "artworkArtist artworkArtist";
}

.artworkBody p {
    margin: 0 !important;
}

.artworkTitle {
    text-align: center;
    font-weight: bolder;
}

.artworkArtist {
    text-align: center;
    color: gray;
}

.artworkStock,
.artworkDate,
.artworkDimensions {
    font-size: 0.8em;
}

.artworkStock {
    text-align: end;
}


/* Fin shoppingCartItem */


/* Fin shoppingCartCard */


/* Inicio paymentManagerCard */

.cards-container .paymentManagerCard {
    max-height: 100vh;
}


/* Fin paymentManagerCard */


/* Fin main */


/* Inicio footer */

footer {
    background-color: rgba(0, 0, 0, 0.678);
    padding: 2em 0px;
    color: rgba(219, 219, 219, 0.932);
}

.my-social-items {
    font-size: 34px;
}

.my-social-items li {
    margin: 0px 10px;
}

.my-social-items a:visited {
    color: #157ca1;
}

.my-social-items a:link {
    color: #157ca1;
}

.my-politics a:visited,
.my-politics a:link {
    text-decoration: none;
    color: white;
}


/* Fin footer */


/* Fin body */


/* Fin screens < 576px */


/* Inicio screens > 768px */

@media only screen and (min-width:768px) {}


/* Fin screens > 1200px */


/* Inicio screens > 1200px */

@media only screen and (min-width:1200px) {
    /* Inicio body */
    /* Inicio header */
    /* Fin header */
    /* Inicio main */
    /* Fin main */
    /* Inicio footer */
    /* Fin footer */
    /* Fin body */
}


/* Fin screens > 1200px */