/* Inicio screens menores a 576px */


/* Inicio body */

* {
    box-sizing: border-box;
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
}

.icon-xs,
.icon-sm,
.icon-md,
.icon-lg {
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}


/* Inicio header */

nav {
    border-bottom: 1px solid rgba(128, 128, 128, 0.432);
}

nav .widgets-wrap {
    display: flex;
    flex-flow: column nowrap;
    padding: 1em 0;
}

.widgets-wrap .user-widget {}

.user-widget #notLogged-user-widget {
    padding: 0.2em;
    display: flex;
    flex-flow: row nowrap;
}

#notLogged-user-widget .sign-in-And-register-buttons {
    /* display: inline-block; */
    color: black;
}

.sign-in-And-register-buttons button {
    background: none;
    border: 0;
}

#notLogged-user-widget #loginModal {}

#loginModal #sendLoginButton {
    background: #015b9bb7;
    color: white;
    font-weight: bold;
}

#loginModal #sendLoginButton:hover {
    background: #015b9b;
    color: white !important;
}

#notLogged-user-widget #registerModal {}

#registerModal #sendRegisterButton {
    background: #015b9bb7;
    color: white;
    font-weight: bold;
}

#registerModal #sendRegisterButton:hover {
    background: #015b9b;
    color: white !important;
}


/* Fin header */


/* Inicio main */


/* Inicio filter */

#filterSidebar {
    background-color: white;
    display: none;
    position: relative;
    max-width: 80vw;
    z-index: 10;
}

#filterSidebar .scrollarea {
    overflow-y: auto;
    max-height: 60vh !important;
    padding-bottom: 5em;
}

#filterSidebar .filterCard {
    margin: 0 !important;
    border-radius: 0 !important;
}


/* Fin filter */


/* Inicio artworkCard */

.artworks-section .artworks {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 12px 12px;
    grid-auto-flow: row;
    grid-template-areas: ".";
}

.artworks .card {
    height: fit-content;
    border: 1px solid rgba(128, 128, 128, 0.349);
}

.artworks .artworkImage {
    margin-top: auto;
    width: 100%;
}

.artworks .artworkArtist {
    color: gray;
    text-align: center;
    width: 100%;
}

.artworks .artworkTitle {
    grid-area: artworkTitle;
    text-align: center;
    font-weight: bolder;
}

.artworks .artworkCartButton {
    width: 100%;
    height: fit-content;
    white-space: nowrap;
    padding: 0.8em 0;
    margin-top: 0.8em;
    border: 0;
    background-color: #015b9b;
    color: white;
    font-weight: bold;
    border-radius: 1em;
}


/* Fin artworkCard */


/* Fin main */


/* Inicio footer */


/* Fin footer */


/* Fin body */


/* Fin screens menores a 576px */


/* Inicio screens a partir de 576px */

@media only screen and (min-width:576px) {
    /* Inicio header */
    nav .widgets-wrap {
        display: flex;
        flex-flow: row nowrap;
        padding: 1em 0;
    }
    /* Fin header */
    /* Inicio body */
    /* Inicio artworkCard */
    .artworks-section .artworks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 12px 12px;
        grid-auto-flow: row;
        grid-template-areas: ". .";
    }
    /* Fin artworkCard */
    /* Fin body */
    /* Inicio footer */
    /* Fin footer */
}


/* Fin screens a partir de 576px */


/* Inicio screens a partir de 768px */

@media only screen and (min-width:768px) {
    /* Inicio header */
    nav .widgets-wrap {
        display: flex;
        flex-flow: row nowrap;
        padding: 1em 0;
        justify-content: flex-end;
    }
    /* Fin header */
    /* Inicio body */
    /* Inicio artworkCard */
    .artworks-section .artworks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 12px 12px;
        grid-auto-flow: row;
        grid-template-areas: ". . .";
    }
    /* Fin artworkCard */
    /* Fin body */
    /* Inicio footer */
    /* Fin footer */
}


/* Fin screens a partir de 768px */


/* Inicio screens a partir de 992px */

@media only screen and (min-width:992px) {
    /* Inicio header */
    /* Fin header */
    /* Inicio body */
    /* Inicio filter */
    #filterSidebar {
        position: sticky !important;
        top: 0;
        overflow-y: auto;
        max-height: 90vh;
    }
    #filterSidebar .scrollarea {
        max-height: none !important;
    }
    /* Fin filter */
    /* Inicio artworkCard */
    .artworks-section .artworks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 12px 12px;
        grid-auto-flow: row;
        grid-template-areas: ". . .";
    }
    /* Fin artworkCard */
    /* Fin body */
    /* Inicio footer */
    /* Fin footer */
}


/* Fin screens a partir de 992px */


/* Inicio screens > 1200px */

@media only screen and (min-width:1200px) {
    /* Inicio body */
    /* Inicio header */
    /* Fin header */
    /* Inicio main */
    /* Fin main */
    /* Inicio footer */
    /* Fin footer */
    /* Fin body */
}


/* Fin screens > 1200px */