/* Inicio screens < 576px */


/* Inicio body */


/* Inicio header */

.logo {
    width: 8em;
}


/* Fin header */


/* Inicio main */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "searcher searcher" "filter orderBy" "artworks artworks";
}

.searcher {
    grid-area: searcher;
    margin: 1em 0;
}

.filter {
    grid-area: filter;
    position: relative;
}

#filterSidebar {
    background-color: white;
    display: none;
    position: absolute;
    top: 3em;
    left: -1em;
    max-width: 80vw;
    z-index: 10;
}

#filterSidebar .scrollarea {
    overflow-y: auto;
    max-height: 60vh !important;
    padding-bottom: 5em;
}

#filterSidebar .filterCard {
    margin: 0 !important;
    border-radius: 0 !important;
}

.orderBy {
    grid-area: orderBy;
    max-width: max-content;
}

.artworks {
    grid-area: artworks;
}


/* Inicio artworkCard */

img {
    width: 100%;
}

.artworkBody {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.2fr 0.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "artworkDimensions artworkStockAndCartButton" "artworkDate artworkStockAndCartButton" "artworkTitle artworkTitle" "artworkArtist artworkArtist";
}

.artworkBody p {
    margin: 0 !important;
}

.artworkDate {
    grid-area: artworkDate;
}

.artworkDimensions {
    grid-area: artworkDimensions;
}

.artworkStockAndCartButton {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "artworkCartButton" "artworkStock";
    grid-area: artworkStockAndCartButton;
}

.artworkCartButton {
    grid-area: artworkCartButton;
}

.artworkCartButton p {
    display: inline-block;
}

.artworkStock {
    grid-area: artworkStock;
}

.artworkTitle {
    grid-area: artworkTitle;
    text-align: center;
    font-weight: bolder;
}

.artworkArtist {
    grid-area: artworkArtist;
    text-align: center;
    color: gray;
}

.artworkStock,
.artworkDate,
.artworkDimensions {
    font-size: 0.8em;
}

.artworkStock {
    text-align: end;
}


/* Fin artworkCard */


/* Fin main */


/* Inicio footer */

footer {
    background-color: rgba(0, 0, 0, 0.678);
    padding: 2em 0px;
    color: rgba(219, 219, 219, 0.932);
}

.my-social-items {
    font-size: 34px;
}

.my-social-items li {
    margin: 0px 10px;
}

.my-social-items a:visited {
    color: #157ca1;
}

.my-social-items a:link {
    color: #157ca1;
}

.my-politics a:visited,
.my-politics a:link {
    text-decoration: none;
    color: white;
}


/* Fin footer */


/* Fin body */


/* Fin screens < 576px */


/* Inicio screens > 768px */

@media only screen and (min-width:768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "searcher searcher searcher" "filter orderBy orderBy" "artworks artworks artworks";
    }
    .searcher {
        grid-area: searcher;
        margin: 1em 0;
    }
    .searcher .input-group {
        width: max-content;
        margin: auto;
    }
    .searcher input[type="search"] {
        min-width: 500px;
        max-width: 700px;
    }
    .filter {
        grid-area: filter;
        justify-self: center;
    }
    #filterSidebar {
        display: none;
        position: absolute;
        top: 3em;
        left: -12vw;
        max-width: 80vw;
        width: 100%;
        min-width: 50vw !important;
    }
    .orderBy {
        grid-area: orderBy;
        max-width: max-content;
        justify-self: start;
    }
    .artworks {
        grid-area: artworks;
    }
}


/* Fin screens > 1200px */


/* Inicio screens > 1200px */

@media only screen and (min-width:1200px) {
    /* Inicio body */
    /* Inicio header */
    /* Fin header */
    /* Inicio main */
    main {
        display: grid;
        grid-template-columns: 20% auto 40% 30%;
        grid-template-rows: auto auto;
        gap: 0px 0px;
        grid-template-areas: "filter orderBy searcher searcher" "filter artworks artworks artworks";
    }
    .searcher {
        grid-area: searcher;
        padding: 0 2em;
    }
    .searcher .input-group {
        width: max-content;
        margin: 0px;
    }
    .filter {
        grid-area: filter;
        margin: 1em 0;
    }
    #filterSidebar {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        min-width: 100% !important;
    }
    #filterSidebar .scrollarea {
        max-height: 75vh !important;
    }
    .orderBy {
        grid-area: orderBy;
        margin: 1em 0;
        justify-self: end;
    }
    .artworks {
        grid-area: artworks;
    }
    /* Fin main */
    /* Inicio footer */
    /* Fin footer */
    /* Fin body */
}


/* Fin screens > 1200px */